<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
    mapper为映射的根节点，用来管理DAO接口
    namespace指定DAO接口的完整类名，表示mapper配置文件管理哪个DAO接口(包.接口名)
    mybatis会依据这个接口动态创建一个实现类去实现这个接口，而这个实现类是一个Mapper对象
 -->
<mapper namespace="com.coldwindx.server.mapper.Student2ResourceMapper">
    <sql id="columns">student_id, scene_id, `path`, criterion, create_time</sql>
    <select id="query" parameterType="com.coldwindx.server.entity.QueryParam" resultType="com.coldwindx.server.entity.form.Student2Resource">
        SELECT id, <include refid="columns"/>, isdeleted FROM t_student_to_resource
        <where>
            isdeleted = 0
            <if test="condition.studentId != null and condition.studentId != ''">
                and student_id = #{condition.studentId}
            </if>
            <if test="condition.sceneId != null and condition.sceneId != ''">
                and scene_id = #{condition.sceneId}
            </if>
        </where>
        <if test="0 &lt; limit">limit #{limit} offset #{offset}</if>
    </select>

    <insert id="insert" parameterType="com.coldwindx.server.entity.form.Student2Resource" keyProperty="id" useGeneratedKeys="true">
        insert into t_student_to_resource(<include refid="columns"/>) values (#{studentId}, #{sceneId}, #{path}, #{criterion}, #{createTime});
    </insert>

    <update id="update" parameterType="com.coldwindx.server.entity.form.Student2Resource">
        update t_student_to_resource
        <set>
            <if test="studentId != null and studentId != ''">student_id = #{studentId}, </if>
            <if test="sceneId != null and sceneId != ''">scene_id = #{sceneId}, </if>
            <if test="path != null and path != ''">`path` = #{path}, </if>
            <if test="criterion != null and criterion != ''">criterion = #{criterion}, </if>
            <if test="createTime != null and createTime != ''">create_time = #{createTime}, </if>
        </set>
        <where>
            isdeleted = 0 and id = ${id}
        </where>
    </update>

    <delete id="delete" parameterType="com.coldwindx.server.entity.form.Student2Resource">
        update t_student_to_resource set isdeleted = 1 where isdeleted = 0 and id = ${id};
    </delete>
</mapper>